/*Common Shared Styles*/
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Open Sans', sans-serif;
}


/* banner design */
.banner{
  background-image: url("../images/banner/banner1.png");
  background-repeat: no-repeat;
  background-size: 1667px 808px;
}

.banner-text{
  padding: 216px 230px 166px 845px;
}

.banner-header{
  color:  #151414;
  text-align: right;
 font-size: 65px;
 font-style: normal;
 font-weight: 700;
 margin-bottom: 0px;
}

.banner-description{
  color:  #444343;
 text-align: right;
font-size: 16px;
font-style: normal;
font-weight: 400;
margin-top: 24px;
margin-bottom: 0px;
}

.primary-btn-style{
  padding: 21px 25px 20px 26px;
  color: #FFF;
 text-align: right;
 font-size: 20px;
 font-style: normal;
font-weight: 600;
border-radius: 5px;
background: #F15B22;
margin-top: 32px;
border: 0px;

}

.contact-us-button{
  text-align: right;
}